extends layout

block content
  div(style='padding:12px')
    h1= title
    p Welcome to #{title} Templates

    ul
      li
        a(href='/dashboard.html', target='dashboard') #{title} Dashboard [READY]
      li
        a(href='/quick-offer.html', target='dashboard') #{title} [READY]
            br
            | a) Request more info form (modal) [READY for VQA]
            br
            | b) Decline to bid form (modal) [READY for VQA]
      li
        a(href='/offer-report.html', target='dashboard') Offer Report [In Progress]