/** ***************************************************************************
	The goal with this style sheet from the very beginning was to keep it short.
	Since many of the styles are already defined in MDC's many .CSSs much effort
	was put into reusing and overwriting where absolutely necessary to meet unique
	design considerations. The "atomic" concept (class names such as .marginRight50)
	is also in place for reuse purposes as certain conventions repeat often while not
	consistantly combining with other properties.
	********************************************* **/

/* module overwrites/extensions */
.bids .module-body {
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
}
.bids .mdcModuleContainer {
	margin-bottom:15px;
	background: #FFF;
}

.bids label {
	font-size: 11px;
	margin-bottom:4px;
}

.bids .mdcModuleContainer h4{
	font-size: 14px;
	color: #888;
}

.bids .mdcModulePadding {
	padding-bottom: 15px;
}

.bids .dijitDialogUnderlayWrapper {
	width: 100%;
	height: 100%;
	z-index: 950;
}

.bids .mdcModalStandard_underlay{
	width: 100%; height: 100%;
}

.bids .dijitBackgroundIframe{
	opacity: 0.1; width: 100%; height: 100%;
}

.bids .mdcModal.mdcModalStandard.dijitDialogFixed.modal{
	position: absolute; z-index: 950;
}

.bids .modal {
	-webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.4);
}

.font12{
	font-size:12px;
}

.noWrapCells td,
.noWrapHeadings th,
.noWrap{white-space: nowrap!important;}

#footer {
	margin-top: 10px;
}

.plus, .minus {
	background-repeat: no-repeat;
	background-position: -2px;
	padding-left: 15px;
}

.chat-iframe {
	width: 161px;
	height: 28px;
	border:none;
	overflow: hidden;
	display: block;
}

.plus {background-image: url(/images/plus_small.gif);}
.minus {background-image: url(/images/minus_small.gif);}

.mdcSection {
	border-top:  1px solid #E1E1E1;
	padding: 18px 10px;
	padding-top: 16px;
	font-family: Arial, Helvetica, sans-serif;

	margin-bottom: 0px;
}

.mdcSeparatorBottom { border-bottom:  1px solid #CCC; }
.mdcSeparatorLeft {
	border-left:  1px solid #E1E1E1;
	margin-left: -1px;
}

.mdcSeparatorBottomDotted { border-bottom:  1px dotted #CCC; }
.mdcSeparatorLeft {
	border-left:  1px solid #E1E1E1;
	margin-left: -1px;
}
.mdcSeparatorRight { border-right:  1px solid #E1E1E1; }
 /* end module overwrites */

.mdcSection h3,
.mdcSection h4 {
	white-space: nowrap;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0px;
	margin: 0;
	padding-top: 0;
	color: #41148d;
}

.mdcSection h4 {
	font-weight: normal;
	padding-bottom: 5px;
}

.mdcComponent h4 {
	color: #888;
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 18px;
}

.mdcComponent h4 + p {
	margin-top: -6px;
	font-size: 14px;
}

.headedList dt:first-of-type,
.headedList dd:first-of-type {
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

.mdcComponent dl{
	display: table;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-top: 6px;
}

.mdcComponent dl + dl {
	margin-top: 0 !important;
	border-top: none !important;
}

.mdcComponent dl dt {font-weight: bold;}

.mdcComponent dl dt,
.mdcComponent dl dd {
	float: left;
	padding: 7px 0 6px;
	border-bottom: 1px dotted #E1E1E1;
	width: 50%;
}

.mdcComponent dl dt:after{
	content: ':';
}

.mdcComponent dl dt:last-of-type,
.mdcComponent dl dd:last-of-type{
	border-bottom: none;
}

.mdcComponent dl.thirds dt{
	width:33%;
}

.mdcComponent dl.thirds dd{
	width:67%;
}

/*
.mdcComponent dl.threeCol dt{
	width: 40%;
}

.mdcComponent dl.threeCol dd{
	width: 60%;
} */

.notVerified,
.verified{
	background-position: right;
	background-repeat: no-repeat;
}

.notVerified {background-image:url(/images/bad.png);}
.verified {background-image:url(/images/good.png);}

.mdcContainer {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 28px;
}

.titleText {
	color: #929292;
	font-weight: bold;
}

.headingText {color: #626262;}

.strongText {color: #444;font-size:14px;}

 #headermenu {z-index: 940;}

 .customerBanner {
 	margin-top:16px;
 	margin-bottom:26px;
 }

 .noBorder {
 	border: none;
 }

 .paddingHorizontal_0 {
 	padding-left: 0;
 	padding-right: 0;
 }

.gradient {
	background: #EEF1F3; /* Old browsers */
	background: -moz-linear-gradient(top,  #EEF1F3 0%, #FFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEF1F3), color-stop(100%,#FFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #EEF1F3 0%,#FFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #EEF1F3 0%,#FFF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #EEF1F3 0%,#FFF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #EEF1F3 0%,#FFF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEF1F3', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */

}

.gradientTop {
	background: #eef1f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #eef1f3 0%, #ffffff 34px); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eef1f3), color-stop(34px,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eef1f3 0%,#ffffff 34px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eef1f3 0%,#ffffff 34px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eef1f3 0%,#ffffff 34px); /* IE10+ */
	background: linear-gradient(to bottom,  #eef1f3 0%,#ffffff 34px); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef1f3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.marginModule {
	margin-bottom:15px;
}

.borderModule {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #e1e1e1;
}

.paddingModule {
	padding: 18px;
}

.dashboardList {
	margin: 0;
}

.dashboardList li {
	float: left;
	margin: 0;
	background-image: none !important;
	border-right: 1px solid #E1E1E1;
	padding: 0;
	padding-right: 30px;
	margin-right: 30px;
    min-height: 95px;
}

.dashboardList li:last-child {
	border-right: none;
	padding: 0;
	margin-right: 0;
}

.dashboardValue {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 9px;
}
.dashboardType {
	font-size: 15px;
	margin-bottom: 4px;
}
.dashboardAge {
	font-size: 12px;
	margin: 0;
	color: #95A1AA;
}

.arrowheadDown {
	position: relative;
}
.arrowheadDown:after {
	content: url(/images/module_arrowhead_dn.png);
	position: absolute;
	bottom: -14px;
	left: 50%;
	margin-left: -151px;
}

.marginRight8 {
	margin-right: 8px;
}

.marginRight10 {
	margin-right: 10px;
}

.marginRight20 {
	margin-right: 20px;
}

.marginRight50 {
	margin-right: 50px;
}

.marginBottomNegative23 {
	margin-bottom: -23px;
}

.marginBottomNegative26 {
	margin-bottom: -26px;
}

.selectSmall {width: 118px;}

.selectMedium {width: 128px;}

.selectWide {width: 156px;}

.ampm {
	width: 66px;
	margin-right: 8px;
}

.hour {
	width: 80px;
	margin-right: 8px;
}

.inputLarge {width: 202px;}

.columnQuarter{
	float: left;
	width: 25%;
}
.columnThreeQuarters {
	float: left;
	width: 75%;
}

.columnFifth {
	float: left;
	width: 20%;
}

.thumbNailFit {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #e3e3e3;
}

.width60 {width: 60% !important;}
.width40 {width: 40% !important;}
.width42 {width: 42% !important;}
.width820px {width: 820px;}

.scrollX {
	overflow-x:scroll;
}
.rightInsetShadow {
	-webkit-box-shadow: inset -13px 0px 8px -8px rgba(0,0,0,0.15);
	-moz-box-shadow: inset -13px 0px 8px -8px rgba(0,0,0,0.15);
	box-shadow: inset -13px 0px 8px -8px rgba(0,0,0,0.15);
}
.leftInsetShadow {
	-webkit-box-shadow: inset 13px 0px 8px -8px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 13px 0px 8px -8px rgba(0,0,0,0.15);
	box-shadow: inset 13px 0px 8px -8px rgba(0,0,0,0.15);
}
.horizontalInsetShadow {
	-webkit-box-shadow: inset 13px 0px 8px -8px rgba(0,0,0,0.15), 
		inset -13px 0px 8px -8px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 13px 0px 8px -8px rgba(0,0,0,0.15),
		inset -13px 0px 8px -8px rgba(0,0,0,0.15);
	box-shadow: inset 13px 0px 8px -8px rgba(0,0,0,0.15),
		inset -13px 0px 8px -8px rgba(0,0,0,0.15);
}

.pager{
	border-bottom: 1px solid #ccc;
}

.pagerContent{
	padding: 15px 0;
}

.count-group .active {
	font-weight: bold;
	color: #666;
}

.mdcDropDownMenuItemContainer {position: absolute;}

.mdcDropDownMenuItemContainer {top: 36px;}

.mdcDropDownMenuItemText {display: block;}

/* TABS */
.tabs {
	position: relative;
	overflow: visible;
	border-bottom: 1px solid #e3e3e3;
	height: 36px;
}

.tabs .tab{
	position: relative;

	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 10px 13px;
	font-size: 10pt;
	font-weight: bold;
	float: left;
	margin-left: 10px;
}

.tabs .tab.active{
	cursor: default;
	color: #626262;
	background-color: #FFF;
	border: 1px solid #e3e3e3;
	border-bottom: none;

}

.tabs .tab.inactive{
	cursor: pointer;
	color: #FFF;
	border: 1px solid #94a1aa;
	border-bottom: none;
	background-color: #94a1aa;
	/*padding-bottom: 9px;*/

}

.carfax {
	background: url(/images/carfax.png) center;
}

.FlowRight{float:right !important;}

.red {color:red;}

.displayBlock{display:block;}

.dollar {
	border:1px solid #A9A9A9;
	margin-bottom:1px;
}
.dollar:before {
	content: '$';
	margin-right: 1px;
	margin-left: 1px;
	margin-top: 2px;
	font-size: 11px;
	color: #000;
	position: absolute;
	z-index: 1;
	display: inline-block;
}

.boxSizing {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;
}

.dollar input{
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;
	border:none;
	outline:none;
	background-color: transparent;
	position: relative;
	z-index: 0;
	padding: 1px 1px 1px .6em;
	margin-bottom: 0;
	width:100%;
	height:19px;
}

.paddingRight6{padding-right:6px;}
.paddingLeft6{padding-left:6px;}
.paddingHorizontal3{
	padding-left:3px;
	padding-right:3px;
}

.paddedCheckbox {padding-right:20px;}

dl .dollar.absolute {top:-3px;}


/* HTML selectors */
[type=date] {width:89px;}
[type=radio],
[type=checkbox] {vertical-align:top;}

label + label {
	margin-top: -9px;
}

dl input.absolute {top:-3px;}

textarea {
	-webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
	-moz-box-sizing: border-box;    /* Firefox 1 - 28 */
	box-sizing: border-box;
    resize: none;
}
textarea.stackedRepeater{
	vertical-align: text-top;
	width: 91.5%;
	margin-bottom: 4px;
}

input  {height: 17px;}
select {height: 21px;}

table{
	border-top: 1px solid #ccc;
	/*border-bottom: 1px solid #ccc;*/
	border-bottom:1px dotted #DDD;
	border-collapse: collapse;
}

th{
	text-align: left;
	padding: 17px 0 17px 12px;
	border-bottom: 1px solid #e1e1e1;
	font-size: 12px;
	font-weight: bold;
}

td{
	text-align: left;
	padding: 11px 0 11px 12px;
	font-size: 12px;
	border-bottom:1px dotted #DDD;
}

iframe{border:none;}


.ng-table th.flowRight {text-align:right;}

.ng-table th.paddingRight10 {padding-right: 10px;}
.ng-table th.flowCenter {text-align:center;}


/*! ngTable v0.5.3 by Vitalii Savchuk(esvit666@gmail.com) - https://github.com/esvit/ng-table - New BSD License */

.ng-table th{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.ng-table th.sortable{cursor:pointer}.ng-table th.sortable .sort-indicator{padding-right:18px;position:relative}.ng-table th.sortable .sort-indicator:after,.ng-table th.sortable .sort-indicator:before{content:"";border-width:0 4px 4px;border-style:solid;border-color:#000 transparent;visibility:visible;right:5px;top:50%;position:absolute;opacity:.3;margin-top:-4px}.ng-table th.sortable .sort-indicator:before{margin-top:2px;border-bottom:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000}.ng-table th.sortable .sort-indicator:hover:after,.ng-table th.sortable .sort-indicator:hover:before{opacity:1;visibility:visible}.ng-table th.sortable.sort-desc,.ng-table th.sortable.sort-asc{background-color:rgba(141,192,219,.25);text-shadow:0 1px 1px rgba(255,255,255,.75)}.ng-table th.sortable.sort-desc .sort-indicator:after,.ng-table th.sortable.sort-asc .sort-indicator:after{margin-top:-2px}.ng-table th.sortable.sort-desc .sort-indicator:before,.ng-table th.sortable.sort-asc .sort-indicator:before{visibility:hidden}.ng-table th.sortable.sort-asc .sort-indicator:after,.ng-table th.sortable.sort-asc .sort-indicator:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}.ng-table th.sortable.sort-desc .sort-indicator:after{border-bottom:0;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}.ng-table th.filter .input-filter{margin:0;display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.ng-table+.pagination{margin-top:0}@media only screen and (max-width:800px){.ng-table-responsive{border-bottom:1px solid #999}.ng-table-responsive tr{border-top:1px solid #999;border-left:1px solid #999;border-right:1px solid #999}.ng-table-responsive td:before{position:absolute;padding:8px;left:0;top:0;width:50%;white-space:nowrap;text-align:left;font-weight:700}.ng-table-responsive thead tr th{text-align:left}.ng-table-responsive thead tr.ng-table-filters th{padding:0}.ng-table-responsive thead tr.ng-table-filters th form>div{padding:8px}.ng-table-responsive td{border:0;border-bottom:1px solid #eee;position:relative;padding-left:50%;white-space:normal;text-align:left}.ng-table-responsive td:before{content:attr(data-title-text)}.ng-table-responsive,.ng-table-responsive thead,.ng-table-responsive tbody,.ng-table-responsive th,.ng-table-responsive td,.ng-table-responsive tr{display:block}}


.ng-table th.sortable.sort-desc,
.ng-table th.sortable.sort-asc {
	background: #EEF1F3; /* Old browsers */
	background: -moz-linear-gradient(top,  #EEF1F3 0%, #FFF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEF1F3), color-stop(100%,#FFF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #EEF1F3 0%,#FFF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #EEF1F3 0%,#FFF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #EEF1F3 0%,#FFF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #EEF1F3 0%,#FFF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEF1F3', endColorstr='#FFF',GradientType=0 ); /* IE6-9 */
  	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   /* IE10-specific styles go here */

	.dollar:before {
		margin-top: 1px;
	}
}
@media screen and (min-width:0\0) {
    /* IE9 and IE10 rule sets go here */

	.dollar:before {
		margin-top: 1px;
	}
}