<div class="paddingLeft15 mdcComponent">
	<div class="gradientTop borderModule paddingModule marginModule">
		<h4>Place Your Bid</h4>
		<form>
			<div class="paddingBottom10 mdcSeparatorBottom">
				<label>Current Bid</label>
				<!-- TODO: currency mask needed -->
				<input type="text" ng-model="currentBid" class="fullWidth" />

				<label>Recon Adjust Total</label>
				<!-- TODO: currency mask needed -->
				<input type="text" ng-model="totalReconAdjust" class="fullWidth" />
			</div>

			<div class="paddingTop15">
				<label class="marginBottomNone">Final Value</label>
				<!-- if less than zero show error -->
				<strong class="strongText" ng-class="{red:(currentBid - totalReconAdjust) < 0}">
					{{(currentBid - totalReconAdjust) < 0 ? 'Please enter a bid amount greater than recon.' : ((currentBid - totalReconAdjust) | currency)}}</strong>
			</div>

			<div class="paddingTop15">
				<textarea ng-model="internalNotes" class="fullWidth" rows="3"></textarea>
				<div class="marginTopSmall">
					<a href="javascript:;" class="cf">Request more info</a>
				</div>
				<div class="marginTopXXSmall">
					<a href="javascript:;">Decline to bid</a>
				</div>
				<div class="marginTopSmall">
					<button class="mdcActionButton fullWidth">Place Bid</button>
				</div>
			</div>
		</form>
	</div>
</div>