<div class="paddingLeft15 mdcComponent">
	<div class="gradientTop borderModule paddingModule marginModule">
		<h4>Original Bid</h4>
		<form>
			<div class="paddingBottom10 mdcSeparatorBottom">
                <dl>
                    <dt>Bid Amount</dt>
                    <dd>$500</dd>
                    <dt>Recon</dt>
                    <dd>$200</dd>
                    <dt>Offer Sent</dt>
                    <dd>$300</dd>
                </dl>
                <textarea ng-model="internalNotes" class="fullWidth marginTop10" rows="3" disabled></textarea>
                
                <h4 class="marginTop20">Counter Offer</h4>
                
				<label>Current Bid</label>
				<!-- <input type="number" ng-model="currentBid" class="fullWidth" /> -->

				<div class="dollar fullWidth">
        			<input type="number" min="0"
						ng-model="currentBid" />
				</div>

				<label class="marginTopSmall2">Recon </label>
				<!-- <input type="number" ng-model="totalReconAdjust" class="fullWidth" /> -->

				<div class="dollar fullWidth">
        			<input type="number" min="0"
						ng-model="totalReconAdjust" />
				</div>
			</div>

			<div class="paddingTop15">
				<label class="marginBottomNone">Final Value</label>
				<!-- if less than zero show error -->
				<strong class="strongText" ng-class="{red:(currentBid - totalReconAdjust) < 0}">
					{{(currentBid - totalReconAdjust) < 0 ? 'Please enter a bid amount greater than recon.' : ((currentBid - totalReconAdjust) | currency)}}</strong>
			</div>

			<div class="paddingTop15">
				<textarea ng-model="internalNotes" class="fullWidth" rows="3"></textarea>
				
				<div class="marginTopSmall">
					<button class="mdcActionButton fullWidth">Send Counter Offer</button>
				</div>
                
				<div class="marginTopSmall">
					<button class="mdcActionButton secondary fullWidth">Keep Original Offer</button>
				</div>
			</div>
		</form>
	</div>

	<modal ng-show="showRequestForm"
		title="Request Additional Information"
		show-manager="false">
		<request-additional-information></request-additional-information>
	</modal>

	<modal ng-show="showDeclineForm"
		title="Decline to Bid"
		show-manager="false">
		<decline-to-bid></decline-to-bid>
	</modal>
</div>
