<div class="paddingLeft15 mdcComponent">
	<div class="gradientTop borderModule paddingModule marginModule">
		<h4>Place Your Bid</h4>
		<form>
			<div class="paddingBottom10 mdcSeparatorBottom">
				<label>Current Bid</label>

				<!-- <input type="number" ng-model="currentBid" class="fullWidth" /> -->

				<div class="dollar fullWidth">
        			<input type="number" min="0"
						ng-model="currentBid" />
				</div>

				<label>Recon Adjust Total</label>
				<!-- <input type="number" ng-model="totalReconAdjust" class="fullWidth" /> -->

				<div class="dollar fullWidth">
        			<input type="number" min="0"
						ng-model="totalReconAdjust" />
				</div>
			</div>

			<div class="paddingTop15">
				<label class="marginBottomNone">Final Value</label>
				<!-- if less than zero show error -->
				<strong class="strongText" ng-class="{red:(currentBid - totalReconAdjust) < 0}">
					{{(currentBid - totalReconAdjust) < 0 ? 'Please enter a bid amount greater than recon.' : ((currentBid - totalReconAdjust) | currency)}}</strong>
			</div>

			<div class="paddingTop15">
				<textarea ng-model="internalNotes" class="fullWidth" rows="3"></textarea>
				<div class="marginTopSmall">
					<a href="javascript:;" class="cf" ng-click="showRequestForm=true">Request more info</a>
				</div>
				<div class="marginTopXXSmall">
					<a href="javascript:;" ng-click="showDeclineForm=true">Decline to bid</a>
				</div>
				<div class="marginTopSmall">
					<button class="mdcActionButton fullWidth">Place Bid</button>
				</div>
			</div>
		</form>
	</div>

	<modal ng-show="showRequestForm"
		title="Request more info"
		show-manager="false">
		<request-additional-information></request-additional-information>
	</modal>

	<modal ng-show="showDeclineForm"
		title="Decline to bid"
		show-manager="false">
		<decline-to-bid></decline-to-bid>
	</modal>
</div>
