<div class="paddingLeft15 mdcComponent">
	<div class="gradientTop borderModule paddingModule marginModule">
		<h4>Place Your Bid</h4>
		<form>
			<div class="paddingBottom10 mdcSeparatorBottom">
				<label>Current Bid</label>

				<input currency ng-model="currentBid" class="fullWidth" />

				<label class="marginTopSmall2">Recon</label>

				<input currency ng-model="totalReconAdjust" class="fullWidth" />
			</div>

			<div class="paddingTop15">
				<label class="marginBottomNone">Final Value</label>
				<!-- if less than zero show error -->
				<strong class="strongText" ng-class="{red:(currentBid - totalReconAdjust) < 0}">
					{{(currentBid - totalReconAdjust) < 0 ? 'Please enter a bid amount greater than recon.' : ((currentBid - totalReconAdjust) | currency)}}</strong>
			</div>

			<div class="paddingTop15">
				<textarea ng-model="internalNotes"
					placeholder="Internal Notes"
					class="fullWidth" rows="3"></textarea>
				<div class="marginTopSmall">
					<a href="javascript:;" class="cf" ng-click="showRequestForm=true">Request more info</a>
				</div>
				<div class="marginTopXXSmall">
					<a href="javascript:;" ng-click="showDeclineForm=true">Decline to bid</a>
				</div>
				<div class="marginTopSmall">
					<button class="mdcActionButton fullWidth">Place Bid</button>
				</div>
				<div class="marginTopSmall">
					<button class="mdcActionButton secondary fullWidth">Place Bid &amp; Get Next</button>
				</div>
			</div>
		</form>
	</div>

	<modal ng-show="showRequestForm"
		title="Request Additional Information"
		show-manager="false">
		<request-additional-information></request-additional-information>
	</modal>

	<modal ng-show="showDeclineForm"
		title="Decline to Bid"
		show-manager="false">
		<decline-to-bid></decline-to-bid>
	</modal>
</div>
