<div class="paddingTop28">
	<div class="cf">
		<div class="FlowRight columnQuarter">
			<label>Recon Adjustment Total</label>

			<input currency class="fullWidth"
				ng-model="totalReconAdjust"
				ng-keydown="lockReconAdjustment=true" />
		</div>
	</div>

	<div class="columnHalf">
		<a href="javascript:;">Print</a> | <a href="javascript:;">Save Values</a>
	</div>

	<div class="FlowRight columnQuarter">
		<label>
			<input type="checkbox" ng-model="lockReconAdjustment" />
			Preserve entered value
		</label>
	</div>

	<!-- Accordion -->
	<dl class="headedList">
		<dt class="width40 trigger"
			ng-class="{collapsed: !vehicleReportCard.vehicleHistory.visible}"
			ng-click="vehicleReportCard.vehicleHistory.visible=!vehicleReportCard.vehicleHistory.visible">Vehicle History
		</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			
			<div class="width42 floatRight">
				<strong>{{sum('vehicleHistory') | currency}}</strong>
			</div>

		</dd>

		<dt class="width40" ng-show="vehicleReportCard.vehicleHistory.visible"
			ng-repeat-start="item in vehicleReportCard.vehicleHistory">{{item.name}}</dt>
		<dd class="width60" ng-show="vehicleReportCard.vehicleHistory.visible" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">

				<input currency class="fullWidth inputFit" max="1e+3-.01"
					ng-model="item.cost" ng-change="aggregate()" />
			</div>
		</dd>
	</dl>

	<dl class="headedList">
		<dt class="width40 trigger"
			ng-class="{collapsed: !vehicleReportCard.exterior.visible}"
			ng-click="vehicleReportCard.exterior.visible=!vehicleReportCard.exterior.visible">Exterior</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight">
				<strong>{{sum('exterior') | currency}}</strong>
			</div>
		</dd>

		<dt class="width40" ng-show="vehicleReportCard.exterior.visible"
			ng-repeat-start="item in vehicleReportCard.exterior">{{item.name}}</dt>
		<dd class="width60" ng-show="vehicleReportCard.exterior.visible" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				
				<input currency class="fullWidth inputFit" max="9999.99"
					ng-model="item.cost" ng-change="aggregate()" />
			</div>
		</dd>
	</dl>

	<dl class="headedList">
		<dt class="width40 trigger" 
			ng-class="{collapsed: !vehicleReportCard.interior.visible}"
			ng-click="vehicleReportCard.interior.visible=!vehicleReportCard.interior.visible">Interior</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight">
				<strong>{{sum('interior') | currency}}</strong>
			</div>
		</dd>

		<dt class="width40" ng-show="vehicleReportCard.interior.visible"
			ng-repeat-start="item in vehicleReportCard.interior">{{item.name}}</dt>
		<dd class="width60" ng-show="vehicleReportCard.interior.visible" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">				
				
				<input currency class="fullWidth inputFit" max="9999.99"
					ng-model="item.cost" ng-change="aggregate()" />
			</div>
		</dd>
	</dl>

	<dl class="headedList">
		<dt class="width40 trigger" 
			ng-class="{collapsed: !vehicleReportCard.mechanical.visible}"
			ng-click="vehicleReportCard.mechanical.visible=!vehicleReportCard.mechanical.visible">Mechanical</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight">
				<strong>{{sum('mechanical') | currency}}</strong>
			</div>
		</dd>

		<dt class="width40" ng-show="vehicleReportCard.mechanical.visible"
			ng-repeat-start="item in vehicleReportCard.mechanical">{{item.name}}</dt>
		<dd class="width60" ng-show="vehicleReportCard.mechanical.visible" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">				
				
				<input currency class="fullWidth inputFit" max="9999.99"
					ng-model="item.cost" ng-change="aggregate()" />
			</div>
		</dd>
	</dl>

	<dl class="headedList">
		<dt class="width40 trigger" 
			ng-class="{collapsed: !vehicleReportCard.tires.visible}"
			ng-click="vehicleReportCard.tires.visible=!vehicleReportCard.tires.visible">Condition of Tires</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight">
				<strong>{{sum('tires') | currency}}</strong>
			</div>
		</dd>

		<dt class="width40" ng-show="vehicleReportCard.tires.visible"
			ng-repeat-start="item in vehicleReportCard.tires">{{item.name}}</dt>
		<dd class="width60" ng-show="vehicleReportCard.tires.visible" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">				
				
				<input currency class="fullWidth inputFit" max="9999.99"
					ng-model="item.cost" ng-change="aggregate()" />
			</div>
		</dd>
	</dl>

</div>