<div class="paddingTop28">
	<div class="cf">
		<div class="FlowRight columnQuarter">
			<label>Recon Adjustment Total</label>
			<!--
			<input ng-show="lockReconAdjustment" type="number"
				id="manualInput"
				ng-model="totalReconAdjustManual"
				class="fullWidth marginBottomXSmall" />

			<input ng-hide="lockReconAdjustment" type="number"
				id="automaticInput"
				ng-focus="focusManual($event)"
				ng-model="totalReconAdjust"
				class="fullWidth marginBottomXSmall" />
			-->
			<input type="number"
				ng-keydown="lockReconAdjustment=true"
				ng-model="totalReconAdjust"
				class="fullWidth marginBottomXSmall" />
		</div>
	</div>

	<div class="columnHalf">
		<a href="javascript:;">Print</a> | <a href="javascript:;">Save Values</a>
	</div>

	<div class="FlowRight columnQuarter">
		<label>
			<input type="checkbox" ng-model="lockReconAdjustment" />
			Lock Recon Adjustment
		</label>
	</div>

	<!-- pre>{{vehicleReportCard | json}}</pre -->

	<dl>
		<dt class="width40">Vehicle History</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			
			<div class="width42 floatRight"><strong>{{(lockReconAdjustment ? totalReconAdjustFrozen : totalReconAdjust) | currency}}</strong></div>
			<!-- div class="width42 floatRight"><strong>{{aggregate() | currency}}</strong></div -->
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.vehicleHistory">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="number" ng-model="item.cost"
					ng-change="aggregate()"
					class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

	<dl>
		<dt class="width40">Exterior</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight"><strong>Cost in US$</strong></div>
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.exterior">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="number" ng-model="item.cost" class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

	<dl>
		<dt class="width40">Interior</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight"><strong>Cost in US$</strong></div>
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.interior">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="number" ng-model="item.cost" class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

	<dl>
		<dt class="width40">Mechanical</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight"><strong>Cost in US$</strong></div>
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.mechanical">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="number" ng-model="item.cost" class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

	<dl>
		<dt class="width40">Condition of Tires</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight"><strong>Cost in US$</strong></div>
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.tires">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="number" ng-model="item.cost" class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

</div>