<div class="paddingTop28">
	<div class="cf">
		<div class="FlowRight columnQuarter">
			<label>Recon Adjustment Total</label>
			<input type="text" ng-model="reconAdjustmentTotal" class="fullWidth marginBottomXSmall" />
		</div>
	</div>

	<div class="columnHalf">
		<a href="javascript:;">Print</a> | <a href="javascript:;">Save Values</a>
	</div>

	<div class="FlowRight columnQuarter">
		<label>
			<input type="checkbox" ng-model="lockReconAdjustment" />
			Lock Recon Adjustment
		</label>
	</div>

	<dl>
		<dt class="width40">Vehicle History</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight"><strong>{{total}}</strong></div>
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.vehicleHistory">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="text" ng-model="reconAdjustmentTotal" class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

	<dl>
		<dt class="width40">Exterior</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight"><strong>Cost in US$</strong></div>
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.exterior">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="text" ng-model="reconAdjustmentTotal" class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

	<dl>
		<dt class="width40">Interior</dt>
		<dd class="width60">
			<div class="columnHalf"><strong>Customer Response</strong></div>
			<div class="width42 floatRight"><strong>Cost in US$</strong></div>
		</dd>

		<dt class="width40" ng-repeat-start="item in vehicleReportCard.interior">{{item.name}}</dt>
		<dd class="width60" ng-repeat-end>
			<div class="columnHalf">{{item.value}}</div>
			<div class="width42 floatRight relative">
				<input type="text" ng-model="reconAdjustmentTotal" class="fullWidth marginBottomNone absolute" />
			</div>
		</dd>
	</dl>

</div>