<span class="positionRelative datePicker">
	
	<input ng-model="calendar.displayDate" class="{{inputClass}} datePickerInput" 
		ng-focus="startDatePicker()" readonly
		style="z-index:{{zIndexProp+1}}"
		ng-style="datePickerInputStyle"
		ng-class="{active: isDatePickerShowing}"
		type="text" />

	<div ng-show="isDatePickerShowing" class="datePickerFlyOut"
		ng-style="datePickerFlyOutStyle">
		<div class="floatLeft width15">
			<div class="dateMonthAdvance"
				ng-click="calendar.advanceMonth(-1)">&#x25C4;</div>
		</div>
		<div class="floatLeft width70">
			<div class="dateMonth">{{calendar.utilDateObject | date : calendarHeaderFormat}}</div>
		</div>
		<div class="floatLeft width15">
			<div class="dateMonthAdvance"
				ng-click="calendar.advanceMonth(1)">&#x25BA;</div>
		</div>
		<table>
			<tr>
				<th>Su</th>
				<th>M</th>
				<th>T</th>
				<th>W</th>
				<th>Th</th>
				<th>F</th>
				<th>S</th>
			</tr>
			<tr ng-repeat="dates in datesArray">
				<td ng-repeat="date in dates track by $index"
					ng-click="calendar.withinSelectableRange(date) ? calendar.setDate($event, date) : null"
					ng-class="{otherMonth: date.getMonth()!=calendar.utilDateObject.getMonth(), date: calendar.withinSelectableRange(date), today: calendar.isToday(date), dateSelected: calendar.isSelected(date), noDate: !calendar.withinSelectableRange(date) }">
					<span>{{ date | date : 'd' }}</span>
				</td>
			</tr>
		</table>

		<div class="paddingTop8">
			<div class="columnHalf"><a class="dateMonthAdvance" ng-click="calendar.selectToday($event, calendar.now)">Select Today</a></div>
			<div class="columnHalf flowRight"><a class="dateMonthAdvance" ng-click="calendar.cancel($event)">Cancel</a></div>
		</div>
	</div>
</span>