<div id="headermenu" class="relative">
    <div id="header-content">
        <div id="logoContainer" class="floatLeft">	
			<div id="logo"
				onclick="homeRedirect('...')"><!-- TODO: provide a home link -->
			</div>	
        </div>
		<div id="menuContainer" class="nav Hidden floatRight width820px">
		 
		    <div style="width820px">
		    	<!-- start the menubar -->
		    	<div ng-repeat="tab in navTabs.navigation">
		    		<div ng-if="tab.title !== 'Profile'"
		    			class="mdcDropDownMenu">
                        <div ng-class="{mdcDropDownMenuWithChildren: tab.subnav, mdcMenuActive:dropDownMenu===tab.title}"
                        	ng-click="tab.subnav?showDropDownMenu($event, tab.title):navigateTo(tab.link)"
                        	class="mdcDropDownMenuText">{{tab.title}}</div>

                        <div ng-if="tab.subnav"
                        	class="mdcDropDownMenuItemContainer"
					    	ng-show="isDropDownMenu(tab.title)">

					    	<div class="mdcDropDownMenuItem"
					    		ng-repeat="subNav in tab.subnav">
					    		<a href="{{subNav.link}}" class="mdcDropDownMenuItemText">
					    			{{subNav.title}}
					    		</a>
					    	</div>
					    </div>
					</div>

					<!-- profile -->
		    		<div ng-if="tab.title === 'Profile'"
		    			class="mdcDropDownMenu mdcPinRight">
						<div class="mdcDropDownMenuText mdcDropDownMenuWithChildren"
			        		ng-click="showDropDownMenu($event, tab.title)">
                        <img class="mdcProfileItem"
                        	src="https://inventoryeditor.cars.com/MDC_Theme/themes/html/MDC_Theme/images/one-pixel-clear.gif"
                        	width="22" height="16" alt="Profile" />
                    	</div>
			    		<div class="mdcDropDownMenuItemContainer"
					    	ng-show="isDropDownMenu(tab.title)">


					    	<div ng-repeat="item in tab.subnav"
					    		class="{{ $first ? mdcMenuItemSeparator : mdcDropDownMenuItem }}">
					    		
					    		<span class="mdcProfileNameText mdcDropDownMenuItemText"
					    			ng-if="$first">{{item.title}}</span>
					    		
					    		<a ng-if="!$first"
					    			href="{{item.link}}"
                            		class="mdcDropDownMenuItemText">
                            		{{item.title}}
                            	</a>

					    	</div>
					    </div>
		    		</div>
                </div>			    
		    </div>			    
		
		</div> <!--menu container -->
	</div> <!--header-content -->
</div> <!--headerMenu -->