<div class="pager cf">

    <div class="pagerContent floatLeft columnQuarter">{{params.total()}} Total Items</div>
        
    <div class="pagerContent floatLeft columnHalf flowCenter">
        <div class="count-group">
            <a href="javascript:;" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)">25</a> | 
            <a href="javascript:;" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)">50</a> | 
            <a href="javascript:;" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)">100</a> | 
            <a href="javascript:;" ng-class="{'active':params.count() == params.total()}" ng-click="params.count(params.total())">All</a>
        </div>
    </div>

    <div class="pagerContent columnQuarter">

        <div class="dojoxGridPaginatorStep">
            <div title="First Page" tabindex="-1" aria-label="First Page" class="dojoxGridWardButton dojoxGridfirstPageBtnDisable">
                <span title="First Page" class="dojoxGridWardButtonInner">«</span>
            </div>
            
            <div title="Previous Page" tabindex="-1" aria-label="Previous Page" class="dojoxGridWardButton dojoxGridprevPageBtnDisable">
                <span title="Previous Page" class="dojoxGridWardButtonInner">&lt;</span>
            </div>

            <div title="Page 1" aria-label="Page 1" class="dojoxGridActived">1</div>
            <div title="Page 2" aria-label="Page 2" class="dojoxGridInactived">2</div>
            <div title="Page 3" aria-label="Page 3" class="dojoxGridInactived">3</div>
            <div title="Page 4" aria-label="Page 4" class="dojoxGridInactived">4</div>

            <div title="Next Page" aria-label="Next Page" class="dojoxGridWardButton dojoxGridnextPageBtn">
                <span title="Next Page" class="dojoxGridWardButtonInner">&gt;</span>
            </div>

            <div title="Last Page" tabindex="0" aria-label="Last Page" class="dojoxGridWardButton dojoxGridlastPageBtn">
                <span title="Last Page" class="dojoxGridWardButtonInner">»</span>
            </div>
        </div>

    </div>

</div>