<div class="mdcModuleContainer mdcModulePadding paddingHorizontal_0 noBorder cf">
	<h3 class="paddingBottomSmall">Overall Statistics</h3>
    
    <div class="columnThreeQuarters">
        for <strong>Nissan/Mazda of Elk Grove</strong>
    </div>
    <div class="columnQuarter paddingBottom10">        
        <label>Dealerships</label>
        <select class="selectSmall fullWidth"
            ng-model="regionFilter.regionSelected"
            ng-options="region as region.label for region in regions">
        </select>        
    </div>

    
    <table ng-table="tableParams" class="widthFull" template-pagination="{{ pagerTemplate }}">
        <tr ng-repeat="statistics in $data" ng-click="showReport($event)">
            <td data-title="'Time Frame'" sortable="'timeframe'">
                {{statistics.timeframe}}
            </td>
            <td data-title="'Total Requests'" sortable="'totalrequests'">
                {{statistics.totalrequests | number}}
            </td>
            <td data-title="'Pending'" sortable="'pending'">
                {{statistics.pending | number}}
            </td>
            <td data-title="'Bids Made'" sortable="'bids'">
                {{statistics.bids | number}}
            </td>
            <td data-title="'Accepted'" sortable="'accepted'">
                {{statistics.accepted | number}}
            </td>
            <td data-title="'Rejected'" sortable="'rejected'">
                {{statistics.rejected | number}}
            </td>
            <td data-title="'Expired'" sortable="'expired'">
                {{statistics.expired | number}}
            </td>                       
        </tr>
    </table>
</div>