<div class="mdcSection mdcModulePadding paddingTop26">
	<div class="mdcComponent paddingRight15 mdcSeparatorRight cf">
		<h4>Vehicle Report Card</h4>

		<div>
			<div class="tabs cf">
				<div class="tab"
					ng-class="{active:currentTab===0,inactive:currentTab!==0}"
					ng-click="setTab(0)">Condition Report</div>
				<div class="tab"
					ng-class="{active:currentTab===1,inactive:currentTab!==1}"
					ng-click="setTab(1)">Photos</div>

			</div>

			<div ng-show="isCurrentTab(0)" class="cf">
				<condition-report></condition-report>
			</div>

			<div ng-show="isCurrentTab(1)">
				<div class="paddingTop28">Priya is working on this...</div>
			</div>

		</div>
	</div>
</div>
