<div>
	<!-- lighbox -->

	<div class="marginTopLarge cf marginBottomNegative23">
		<div ng-repeat="image in ui.data"
			class="columnFifth paddingHorizontal3 paddingTop3 paddingBottom26 boxSizing flowCenter">

			<img ng-src="https://inventoryeditor.cars.com/MDC_Theme/themes/html/MDC_Theme/images/one-pixel-clear.gif"
				style="background-image:url({{image.href}})"
				ng-click="showImage(image.href)"
				class="fullWidth thumbNailFit" alt="{{image.label}}" />

			<p class="marginTopXSmall marginBottomNone">{{image.label}}</p>

			<a href="{{image.href}}" class="afterParagraph" target="{{image.label}}">View full size image</a>
		</div>
	</div>

	<div class="marginTop23">
	    <button class="mdcActionButton secondary" ng-click="cancelManager($event)">Close</button>
	</div>
</div>